<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOTO247</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section id="header">
        <a href="#"><img src="files/Logo.png" class="logo" alt="logo"></a>

        <div>
            <ul id="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a class="active" href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>

        <div>
            <ul id="icons">
                <li>
                    <input type="text" placeholder="Search..." id="search-bar">
                </li>
                <li><a href="account.html"><ion-icon name="person"></ion-icon></a></li>
                <li><a href="cart.html"><ion-icon name="cart"></ion-icon></a></li>
            </ul>
        </div>
    </section>


    <section id="page-header" class="about-header">
        <h2>Know Us</h2>
        <p>Please sana ma clutch lahat</p>
    </section>

    <section id="about-head" class="section-p1">
        <img src="files/placeholder.png" alt="">

        <div>
            <h2>Who We Are?</h2>
            <p>TAYO AY NASA FINE DINING RESTAURANT, diba? so yung pagkaskwater natin iwan natin sa bahay. pag nalaglag andun sina miss vina sila doc yappy..
                imbis na "ay sorry sorry" ano naging reaction mo? PUT- NETO NAGBIBIGAY LANG GANYAN PA E! kinang-naman.. nasa restaurant ka naman na sosyal.
                kelan moko narinig na PU- NAMAN E nag gaganyan ako sa bisita? never. ang tawag dun pakikisama. hindi ka naman magiging peke eh pero put-
                umadjust ka naman sa sitwasyon.</p>
            <abbr title="">Hindi ko pa alam anong ilalagay ko dito pero wait lang kase we will figure it out.</abbr>

            <br> <br>

            <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Hindi ko pa alam anong ilalagay ko dito pero wait lang kase we will figure it out.</marquee>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="files/Logo.png" alt="Logo">
            <h4>Contact</h4>
            <p><strong>Address:</strong> chuchu</p>
            <p><strong>Phone:</strong> chuchu</p>
            <p><strong>Work Hours:</strong> chuchu</p>

            <div class="follow">
                <h4>Follow us</h4>

                <div class="icon">
                    <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
        
        <div class="copyright">
            <p>&copy; Copyright Reserved.</p>
        </div>
    </footer>

    <script src="script.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>