<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOTO247</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
    <section id="header">
        <a href="#"><img src="files/Logo.png" class="logo" alt="logo"></a>

        <div>
            <ul id="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>

        <div>
            <ul id="icons">
                <li>
                    <input type="text" placeholder="Search..." id="search-bar">
                </li>
                <li><a href="account.html"><ion-icon name="person"></ion-icon></a></li>
                <li><a class="active" href="cart.html"><ion-icon name="cart"></ion-icon></a></li>
            </ul>
        </div>
    </section>

    <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                    <td>Remove</td>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Subtotal</td>
                </tr>
            </thead>
            <tbody id="cart-items"> <!-- Added ID here -->
                <!-- Cart items will be inserted here -->
            </tbody>
        </table>
    </section>
    

    <section id="cart-add" class="section-p1">
        <div id="coupon">
            <h3>Apply Coupon</h3>
            <div>
                <input type="text" placeholder="Enter Your Coupon">
                <button class="normal">Apply</button>
            </div>
        </div>
    
        <div id="subtotal">
            <h3>Cart Total</h3>
            <table>
                <tr>
                    <td>Cart Subtotal</td>
                    <td id="cart-subtotal">₱0.00</td> <!-- Dynamic Subtotal -->
                </tr>
        
                <tr>
                    <td>Shipping</td>
                    <td id="shipping-fee">Free</td> <!-- Dynamic Shipping -->
                </tr>
        
                <tr>
                    <td><strong>Total</strong></td>
                    <td id="cart-total"><strong>₱0.00</strong></td> <!-- Dynamic Total -->
                </tr>
            </table>
    
            <button class="normal">Checkout</button>
        </div>
    </section>
    

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="files/Logo.png" alt="Logo">
            <h4>Contact</h4>
            <p><strong>Address:</strong> chuchu</p>
            <p><strong>Phone:</strong> chuchu</p>
            <p><strong>Work Hours:</strong> chuchu</p>

            <div class="follow">
                <h4>Follow us</h4>

                <div class="icon">
                    <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
        
        <div class="copyright">
            <p>&copy; Copyright Reserved.</p>
        </div>
    </footer>

    <script src="/views/client/script.js"></script>
    <script src="/assets/js/client/add_to_cart.js"></script>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>