<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOTO247</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section id="header">
        <a href="#"><img src="files/Logo.png" class="logo" alt="logo"></a>

        <div>
            <ul id="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>

        <div>
            <ul id="icons">
                <li>
                    <input type="text" placeholder="Search..." id="search-bar">
                </li>
                <li><a href="account.html"><ion-icon name="person"></ion-icon></a></li>
                <li><a class="active" href="cart.html"><ion-icon name="cart"></ion-icon></a></li>
            </ul>
        </div>
    </section>
    
    <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                    <td>Select</td>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Subtotal</td>
                    <td>Remove/Delete</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><input type="checkbox" id="select-product"></td>
                    <td><img src="files/products/p1.png" alt=""></td>
                    <td>Product Name</td>
                    <td>₱15</td>
                    <td><input type="number" value="1"></td>
                    <td>₱15</td>
                    <td><a href=""></a><ion-icon name="close-circle-outline"></ion-icon></a></td>
                </tr>

                <tr>
                    <td><input type="checkbox" id="select-product"></a></td>
                    <td><img src="files/products/p1.png" alt=""></td>
                    <td>Product Name</td>
                    <td>₱15</td>
                    <td><input type="number" value="1"></td>
                    <td>₱15</td>
                    <td><a href=""></a><ion-icon name="close-circle-outline"></ion-icon></a></td>
                </tr>

                <tr>
                    <td><input type="checkbox" id="select-product"></a></td>
                    <td><img src="files/products/p1.png" alt=""></td>
                    <td>Product Name</td>
                    <td>₱15</td>
                    <td><input type="number" value="1"></td>
                    <td>₱15</td>
                    <td><a href=""></a><ion-icon name="close-circle-outline"></ion-icon></a></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="sticky-bar" class="section-p1">
        <div class="cart-container">
            <input type="checkbox" id="select-all">
            <label for="select-all">Select All (22)</label>
            <button class="delete">Delete</button>
        </div>   

        <div class="total">
            <span>Total (1 item): <strong>₱253</strong></span>

            <a>
                <button class="normal" id = "checkout-btn">Check Out</button>
            </a>
        </div>
    </section>

    <script src="script.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>