<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOTO247</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section id="header">
        <a href="#"><img src="files/Logo.png" class="logo" alt="logo"></a>

        <div>
            <ul id="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a class="active" href="contact.html">Contact</a></li>
            </ul>
        </div>

        <div>
            <ul id="icons">
                <li>
                    <input type="text" placeholder="Search..." id="search-bar">
                </li>
                <li><a href="account.html"><ion-icon name="person"></ion-icon></a></li>
                <li><a href="cart.html"><ion-icon name="cart"></ion-icon></a></li>
            </ul>
        </div>
    </section>

    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Visit our physical store or contact us today</h2>
            <h3>???</h3>

            <div>
                <li>
                    <ion-icon name="map"></ion-icon>
                    <p>1955 Abad Santos Ave. Tondo, Manila</p>
                </li>

                <li>
                    <ion-icon name="mail-open"></ion-icon>
                    <p>business email</p>
                </li>

                <li>
                    <ion-icon name="call"></ion-icon>
                    <p>0915 801 5865/0995 380 1900</p>
                </li>

                <li>
                    <ion-icon name="alarm"></ion-icon>
                    <p>11AM - 7PM (6:30PM Cutoff for accepting services)</p>
                </li>
            </div>
        </div>

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.669601511075!2d120.9772929!3d14.617887999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b57ce22f6d2f%3A0x8e27993aaeb3f883!2sMoto247%20Manila!5e0!3m2!1sen!2sph!4v1738555581748!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <section id="form-details">
        <form action="">
            <span>LEAVE A MESSAGE</span>
            <h2>We love to hear from you</h2>

            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Subject">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button class="normal">Submit</button>
        </form>

        <div class="people">
            <div>
                <img src="files/contacts/people_1.jpg" alt="">
                <p><span>Red Javez P. Caluag</span>Auditor/Manager<br>0915 801 5865<br>redjavez@gmail.com</p>
            </div>

            <div>
                <img src="files/placeholder_cp1.png" alt="">
                <p><span>Rich Matthew P. Caluag</span>Manager/Customer Service<br>0995 380 1900<br>rich.caluag07@gmail.com</p>
            </div>
        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newsletter</h4>
            <p>Get email updates about our latest shop and <span>special offers</span>.</p>
        </div>

        <div class="form">
            <input type="text" placeholder="Enter your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="files/Logo.png" alt="Logo">
            <h4>Contact</h4>
            <p><strong>Address:</strong> 1955 Abad Santos Ave. Tondo, Manila</p>
            <p><strong>Phone:</strong> 0915 801 5865/0995 380 1900</p>
            <p><strong>Work Hours:</strong> 11AM - 7PM (6:30PM Cutoff for accepting services)</p>

            <div class="follow">
                <h4>Follow us</h4>

                <div class="icon">
                    <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
        
        <div class="copyright">
            <p>&copy; Copyright Reserved.</p>
        </div>
    </footer>

    <script src="script.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>